.table{
  width: 80%;
  margin-left: 150px;
  margin-right: 50px;
}
.drop{
  margin-left:150px;
  border-radius: 2px;
  border-color: white;
}
span{
  text-align: bold;
  font-size: 20px;
}

select{
  width: 200px;
  height: 30px;
}
.header{
  width: 100%;
  height: 70px;
  background-color: lightblue;
}
.h{
  margin-left: 40px;
  font-family: Arial black;
  padding-top: 14px;   
}
.App {
  background-color: #09c!important;
}

